/* Reset CSS */
html, body, div, span, h1, h2, h3, h4, h5, h6, p,
a, img, b, u, i, center, ol, ul, li, form, label,
table, tbody, tfoot, thead, tr, th, td, article,
footer, header, hgroup, menu, nav, section{
    margin: 0;
    padding: 0; 
    border: 0;
    vertical-align: baseline;
}
html{	font-size:16px;	}

body{
    font-family:Titillium Web, sans-serif;
    -webkit-font-smoothing:antialiased;
    max-width:100vw;
    overflow-x:hidden;
    background:#29292E;
    color:white;
}

.content{
    position:absolute;
    display:block;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    background:#19191D;
    min-width:600px;
    min-height:350px;
    padding:1rem;
    box-shadow: 0 0 10px 3px black;
}
.content > h1{
    position:relative;
    text-align:center;
    letter-spacing: .2em;
    margin-bottom:.5em;
}
.content > h1:after{
    content:'';
    position:absolute;
    display:block;
    width:100%;
    height:.075em;
    background:currentColor;
}

.icons_container{
    position:relative;
    display:block;
    width:100%;
    text-align:center;
    font-size:1.5rem;
    list-style:none;
}

section h2{
    text-decoration: underline;
}
.icons_container li{
    position:relative;
    display:inline-block;
    cursor:pointer;
    border:1px solid rgba(150, 150, 150, .25);
    border-radius:3px;
    padding:.5em;
    margin:.25em;
}

.icon{
    position:relative;
    display:block;
    width:1em;
    height:1em;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    margin-bottom:.25em;
}

.icon .ico{
    position:absolute;
    display:block;
    top:50%;
    left:50%;
    width:1em;
    max-width:1em;
    height:.1em;
    max-height:.1em;
    background: currentColor;
    transform:translate(-50%, -50%);
}
.text{
    position:relative;
    display:block;
    margin-top:.5rem;
    font-size:.85rem;
}
.icon .ico:after,
.icon .ico:before{
    content:'';
    position:absolute;
    display:block;
    width:100%;
    height:100%;
    background:inherit;
}
.icon .ico,
.icon .ico:after,
.icon .ico:before{
    transition:500ms cubic-bezier(.4, 0, .2, 1);
	-o-transition:500ms cubic-bezier(.4, 0, .2, 1);
	-ms-transition:500ms cubic-bezier(.4, 0, .2, 1);
	-moz-transition:500ms cubic-bezier(.4, 0, .2, 1);
	-webkit-transition:500ms cubic-bezier(.4, 0, .2, 1);
}

li:hover .ico,
li:hover .ico:after,
li:hover .ico:before{
    background:#009DFF;
}
li:hover .text{
    color:#009DFF;
}

/*  Menu Icons  */
.ico.beehive,
.ico.hamburger,
.ico.hamburger-alt,
.ico.hamburger-alt-reverse,
.ico.beehive:after,
.ico.hamburger:after,
.ico.hamburger-alt:after,
.ico.hamburger-alt-reverse:after,
.ico.beehive:before,
.ico.hamburger:before,
.ico.hamburger-alt:before,
.ico.hamburger-alt-reverse:before{
    width:1em;
    height:100%;
}
.ico.beehive:after,
.ico.hamburger:after,
.ico.hamburger-alt:after,
.ico.hamburger-alt-reverse:after{
    top:-.35em;
    left:0;
}
.ico.beehive:before,
.ico.hamburger:before,
.ico.hamburger-alt:before,
.ico.hamburger-alt-reverse:before{
    top:auto;
    bottom:-.35em;
    left:0;
}
.ico.beehive:after,
.ico.hamburger-alt:after,
.ico.hamburger-alt-reverse:after,
.ico.beehive:before,
.ico.hamburger-alt:before,
.ico.hamburger-alt-reverse:before{
    width:50%;
}
.ico.hamburger-alt:before,
.ico.hamburger-alt-reverse:after,
.ico.beehive:after,
.ico.beehive:before{
    left:50%;
}
.ico.beehive:after,
.ico.beehive:before{
    transform:translateX(-50%);
}

/*  Chevrons    */
.ico.chevron{
    top:calc(50% + .125em);
    left:50%;
    width:.1em;
    transform:translate(-50%, -50%);
}
.ico.chevron:after,
.ico.chevron:before{
    top:calc(50% + .05em);
    right:25%;
    width:.5em;
    transform-origin:right;
    transform:translateY(-50%) rotate(35deg);
}
.ico.chevron:before{
    right:auto;
    left:25%;
    transform-origin:left;
    transform:translateY(-50%) rotate(-35deg);
}

.ico.chevron.up{
    top:calc(50% - .125em);
    transform:translate(-50%, -50%) rotate(180deg);
}

.ico.chevron.left{
    top:50%;
    left:calc(50% - .125em);
    transform:translate(-50%, -50%) rotate(90deg);
}
.ico.chevron.right{
    top:50%;
    left:calc(50% + .135em);
    transform:translate(-50%, -50%) rotate(-90deg);
}

/*  Arrows  */
.ico.arrow:not(.left, .right){
    transform:translate(-50%, -50%) rotate(-90deg);
}
.ico.arrow:after,
.ico.arrow:before{
    width:35%;
    left:-.03em;
    top:.03em;
    transform-origin:left;
    transform:rotate(-45deg);
}
.ico.arrow:before{
    top:auto;
    bottom:.03em;
    transform:rotate(45deg);
}
.ico.arrow.up:after,
.ico.arrow.up:before,
.ico.arrow.right:after,
.ico.arrow.right:before{
    width:35%;
    left:auto;
    right:-.03em;
    top:.03em;
    transform-origin:right;
    transform:rotate(45deg);
}
.ico.arrow.up:before,
.ico.arrow.right:before{
    top:auto;
    bottom:.03em;
    transform:rotate(-45deg);
}

.ico.close{
    width:100%;
    transform:translate(-50%, -50%) rotate(-45deg) !important;
}
.ico.close:after,
.ico.close:before{
    transform-origin:right;
    top:0;
    left:0;
    width:50%;
    transform:rotate(90deg);
}
.ico.close:before{
    top:auto;
    bottom:0;
    left:50%;
    transform-origin:left;
}